.red-border {
  border: 2px solid red;
}

.form__input:hover {
  box-shadow: rgb(136, 136, 136) 5px 5px 5px;
}

.form__input:focus {
  background-color: bisque;
}

.form__input:active {
  background-color: bisque;
}

.form__label {
  width: 30%;
}

.form__label:first-letter {
  text-transform: uppercase;
}
